/.venv
/.vscode
/bat2exe.bat
/build
/dist
/logged_data
/logged_data_test
/QATCH_Q-1_FW_py_v*
**/__pycache__

# Ignore all files in "assets" folder
**/assets/**

# But explicitly include "VisQAI-base.zip" and "app.db" assets
!**/assets/VisQAI-base.zip
!**/assets/app.db