VSVersionInfo(
    ffi=FixedFileInfo(
    filevers=(1,0,2,2),
    prodvers=(1,0,2,2),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)),
    kids=[StringFileInfo([StringTable(
    u'040904B0',
    [StringStruct(u'FileDescription', u'QATCH nanovisQ SW Installer'),
    StringStruct(u'FileVersion', u'1.0.2.2 (2025-10-13)'),
    StringStruct(u'InternalName', u'QatchInstaller'),
    StringStruct(u'CompanyName', u'QATCH Technologies LLC'),
    StringStruct(u'LegalCopyright', u'2025 QATCH Technologies LLC'),
    StringStruct(u'OriginalFilename', u'QATCH.installer.exe'),
    StringStruct(u'ProductName', u'QATCH nanovisQ SW Installer'),
    StringStruct(u'ProductVersion', u'1.0.2.2 (2025-10-13)'),
    StringStruct(u'LegalTrademarks', u'GNU GPL v3')])]),
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])]
)
